# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=wallet_service

# Karma API Configuration
KARMA_API_BASE_URL=https://adjutor.lendsqr.com
KARMA_API_TOKEN="your_karma_api_key"

# Security
BCRYPT_ROUNDS=10
